h1{
    color: rgb(245, 140, 4);
    text-decoration: overline;
}

.class{
    background-color: whitesmoke;
    text-align: center;
    margin: 30px;
    border: 10px solid rgb(109, 19, 3);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: 30px;
    text-align: center;
    background-image: url(../image/2025-09-10-11.31-Photoroom.jpg);
    height: 250px;
    background-image: contain;
    background-image: cover;
}

nav li{
    display: inline;
    list-style: none;
    margin-left: 100px;
}
nav li a {
    text-decoration: none;
    color: black;

}
nav li:hover{
    background-color: beige;
}

footer{
    text-align: center;
    margin-top: 100px;
}

table{

    margin-top: 45px;
    align-items: center;
    justify-content: ;
    margin-left: 500px;

    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
}

th ,td {
    border: 1px solid black;
    padding: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card-container{
    margin-top: 40px;
    display: flex;
     flex-wrap: wrap;
    border: 2px solid wheat;
    gap: 50px;
}

.user{

    border: 2px solid wheat;

    font-size: 3em;
    padding: 40px;

}

.mainh ul{
    display: flex;
}

.mainh ul li{
    list-style: none;
    gap:20px
}
.main ul li a{
    text-decoration: none;
}

.mainh ul li:hover{
    background-color: wheat;
}